/* CSS BY MICHELLE CHONG */

/* IMPORTED FONTS */

/* CSS RESET */
/* CSS RESET ANDY BELL */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* ROOT VARIABLES */
:root {
    --dough: #D9C4A3;
    --chocolate-chip: #704214;
    --crust: #C27D45;
    --title-font: "Oi", sans-serif;
    --body-font: "Smooch Sans", sans-serif;
}

/* GLOBAL STYLES */
/* * {
    outline: 2px solid blue;
}

*:nth-child(even) {
    outline: 2px solid red;
} */

header p {
    text-align: center;
    max-width: 80ch;
    margin: 0 auto;
}

#introduction {
    font-weight: 800;
}

body {
    font-family: var(--body-font);
    max-width: 1400px;
    margin: 0 auto;
    padding: 1.5rem;
}

h1 {
    text-align: center;
    font-family: var(--title-font);
    color: var(--chocolate-chip);
    max-width: 500px;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

nav ul li {
    list-style: none;
    color: var(--chocolate-chip);
    margin: 2rem;
}

nav ul {
    padding: 0;
}

nav h2 {
    visibility: hidden;
    height: 1px;
    margin: 0px;
}

a {
    text-decoration: none;
    background-color: var(--dough);
    padding: 0.75rem;
    display: block;
    text-align: center;
}

section {
    background-color: var(--crust);
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 8px;
}

footer {
    h2, p, li {
        text-align: center;
    }

    ul {
        list-style: none;
        padding: 0;
    }
}

/* MEDIA QUERY (MEDIUM) */
@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;

        section {
            margin: 1rem;
        }
    }
}

/* MEDIA QUERY (LARGE) */
@media screen and (min-width: 1040px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* MEDIA QUERY (XL) */
@media screen and (min-width: 1280px) {
    main {
        grid-template-columns: repeat(4, 1fr);
    }
}